.dashboard_nav
{
  nav
  {
    margin:0 ;
    background-color:#003554;
  }

  ul
  {
    margin: 0 auto;
    padding: 0.5%;
    background-color:#003554;
    text-align: right;

  }

  li
  {
    display:inline-block;
    a
    {
      font-size: 2em;
      color:#FFFFFF;
      text-decoration: none;
      padding-right: 5px;
    }
  }
}
.wrapper
{
  color:#FFFFFF;
}
.table
{
  width: 70%;
  margin: auto;
  font-size: 1.5em;
}
h1
{
  text-align: center;
  color: #FFFFFF;
}
.view-content-link
{
  color: #FFFFFF;
  text-decoration:underline;
}
.content-wrapper
{
  color: #FFFFFF;
}
