.page-nav
{
	nav
	{
		margin:0 ;
		background-color:#003554;
	}

	ul
	{
		margin: 0 auto;
		padding: 0.5%;
		background-color:#003554;
	}

	li
	{
		display:inline-block;
		border-right: white 1px solid;
		a
		{
			font-size: 2em;
			color:#FFFFFF;
			text-decoration: none;
			padding-right: 5px;
		}
	}
}
