// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.link-to-create
{
  color: #FFFFFF;
  text-decoration: none;
}
.user-wrapper
{
  color: #FFFFFF;
}
.user-table
{
  width: 80%;
  margin: auto;
  font-size: 1.5em;
}
.user-link
{
  color: #FFFFFF;
}
